body{
  background-color: purple;
  color: white;
}
body, a{
  color: white;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  font-size: 30px;
}
#main{
  display: flex;
  justify-content: space-evenly;
}
#top{
  text-align: center;
}
