body{
  background-color: purple;
  color: white;
}
body, a{
  color: white;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#aimTrainer{
  text-align: center;
}
#scoreboard{
  text-align: center;
}
#sqrt{
  text-align: center;
}
#coinFlipper{
  text-align: center;
}
#darkLight{
  text-align: center;
}
#main{
  text-align: center;
}
