body{
  background-color: purple;
  color: white;
}
body, a{
  color: white;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}


a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  font-size: 30px;
}
#aimTrainer{
  text-align: center;
}
#scoreboard{
  text-align: center;
}
#sqrt{
  text-align: center;
}
#coinFlipper{
  text-align: center;
}
#darkLight{
  text-align: center;
}

